<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs",{title: "Edit Event"}) %>
<body>
  <div id = 'main-container'>
  <%- include("../partials/header.ejs") %>
  <div id = 'editForm'>
    <form action="/event/<%=event._id%>?_method=PUT" method="post">
      <label for="eventName">
        Event Name</label><input
          type="text"
          name="eventName"
          value="<%=event.eventName%>"
      />
      <label for="description">
        Description</label><input
          type="text"
          name="description"
          value="<%=event.description%>"
      />
      <p>
        <label  for="distance">
        Distance</label><input id="distance"
          type="number"
          name="distance"
          value="<%=event.distance%>"
      />      
      <select name="unit">
        <option value="km" <%if(event.unit =='km'){%>selected <% } %>>Kilometers</option>
        <option value="m" <%if(event.unit =='m'){%>selected <% } %>>Miles</option>        
      </select>
    </p>
      <label for="date"
        >Date</label><input
          type="date"
          name="date"
          value="<%=moment(event.date).format('yyyy-MM-DD')%>"
      />
      <label for="date"
        >Active</label><input id='active' type="checkbox" name="isActive" <%=event.isActive ?
        "checked" : ""%> />
      <div id="button"><button>Update event</button></div>
    </form>
  </div>
</div>
  </body>
</html>
