<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs",{title: "Home Event"}) %>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="container">

    </div>
    <div class="container">
      <% for( let i = 0; i < event.length; i++ ) { %>
      <div class="row somerow" id="event-item">
        <a href="/event/<%=event[i]._id%>/runners"></a>
        <div class="col-md-3 text-center">
          <%=moment(event[i].date).format('MMMM Do YYYY')%>
        </div>
        <div class="col-md-3 text-center">
          <a href="/event/<%=event[i]._id%>/runners">
            <%=event[i].eventName%></a
          >
        </div>
        <div class="col-md-3 text-center">
          <%=event[i].isActive ? "Active" : "Closed"%>
        </div>

        <div class="col-md-3 text-center" id="distance">
          <%=event[i].distance%> K
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
