<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="item-container">
      <h2><%=event.eventName%></h2>

      <a href="/event/edit/<%=event._id %>"><button>Edit Event</button></a>
      <form action="/event/<%=event._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
      <a href="/runner/<%=event._id %>/new"><button>Add Runners</button></a>
      <a href="/runner/<%=event._id %>"><button>Show Runners</button></a>
    </div>
    <div id="main-container">
      <% for( let i = 0; i < runners.length; i++ ) { %>
      <a href="/runner/<%=event._id%>/<%=runners[i]._id%>">
        <h2><%=runners[i].firstName%> <%=runners[i].lastName%></h2></a
      >
      <h2><%=runners[i].age%></h2>
      <h2><%=runners[i].pace%></h2>

      <% } %>
    </div>
  </body>
</html>
