<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="item-container">
      <h2><%=event.eventName%></h2>

      <a href="/event/edit/<%=event._id %>"><button>Edit Event</button></a>
      <form action="/event/<%=event._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
      <a href="/runner/<%=event._id %>/new"><button>Add Runners</button></a>
      <a href="/runner/<%=event._id %>"
        ><button>Show Runners Runners</button></a
      >
    </div>
  </body>
</html>
