<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs",{title: "Show Event"}) %>
  <body>
    <%- include("../partials/header.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col-auto h2 event"><%=event.eventName%></div>
        <div class="col-auto h2 event">
          <%=moment(event.date).format('MMMM Do YYYY hh:mm')%>
        </div>
        <div class="col-auto h2 event"><%=event.description%></div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center" id="button">
          <a href="/event/edit/<%=event._id %>">Edit Event</a>
        </div>
        <div class="col-md-3 text-center" id="button">
          <a href="/runner/<%=event._id %>/new">Add Runner</a>
        </div>
        <div class="col-md-2">
          <form
            id="delete"
            action="/event/<%=event._id%>?_method=DELETE"
            method="POST"
          >
            <div id="button"><button>Delete Event</button></div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <% for( let i = 0; i < runners.length; i++ ) { %>
      <div class="row" id="event-item">
        <div class="col-md-4 text-center">
          <a href="/runner/<%=event._id%>/<%=runners[i]._id%>"
            ><%=runners[i].firstName%> <%=runners[i].lastName%></a
          >
        </div>
        <div class="col-md-4 text-center"><%=runners[i].age%></div>
        <div class="col-md-4 text-center"><%=runners[i].pace%></div>
      </div>
      <% } %>
    </div>
  </body>
</html>
