<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body><H2>Edit runner</H2>
    <form action="/runner/<%=eventId %>/<%=runner._id %>?_method=PUT" method="post">
      First Name:<input type="text" name="firstName" value="<%=runner.firstName %>"/> Last Name:<input
        type="text"
        name="lastName"
        value="<%=runner.lastName %>"
      />
      Age: <input type="number" name="age" value="<%=runner.age %>" /> Date of Birth:<input
        type="date"
        name="dob"
        value="<%=moment(runner.dob).format('yyyy-MM-DD')%>"
      />
      Start Time:<input type="time" step="1" name="startTime"  value="<%=runner.startTime %>"/> Finish
      Time:<input type="time" step="1" name="finishTime" value="<%=runner.finishTime %>" />
      <button>Update</button></body>
</html>
